/**
 ** Esto permite agregar la fuente de prueba especial para mockups
 */

@font-face {
    font-family: 'IcoMoon-Free';
    src: url('./fonts/IcoMoon-Free.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/**
 ** Estilos a todos los elementos
 */
* {
    box-sizing: border-box;
    font-family: $fonts, sans-serif;
    background-color: #{map_get($theme, 'background')};
}

/** Elimina o aplica al imprimir **/
@media print {
    * {
        font-family: Verdana, Geneva, Tahoma, sans-serif;

    }

    aside {
        display: none !important;
    }

    a::after{
        content: " ("attr(href)")";
    }
}