/** Estilos de los componentes **/
@import "~include-media/dist/include-media";


/**
 ** Navbar Component
 **/
nav {
    @include media('>phone') {
        ul {

            list-style: none;
            padding: 0;

            .active {
                font-weight: bold;
                color: red;
            }
        }
    }

    @include media('>tablet') {

        ul {
            list-style: none;
            padding: 0;
            li {
                display: inline;
                padding: 10px;
            }

            .active {
                font-weight: bold;
                color: red;
            }
        }

    }
    @include media('>=980px') {

        ul {
            list-style: none;
            padding: 0;
            li {
                display: inline;
                padding: 10px;
            }

            .active {
                font-weight: bold;
                color: red;
            }

        }

    }
    @include media('>desktop') {

        ul {
            list-style: none;
            padding: 0;
            li {
                display: inline;
                padding: 10px;
            }

            .active {
                font-weight: bold;
                color: red;
            }
        }

    }
}




/**
 ** Container Component
 **/
.container {
    max-width: $size-max-container;
    margin: 0 auto;

    /**
     ** Row Component
     **/
    .row {
        &:after {
            content: "";
            clear: both;
            display: block;
        }
    }
}
/**
 ** Componente para hacer fluidas las imágenes
 */
.fluid-img {
    width: 100%;
}

.text-center {
    text-align: center;
}

.no-prototype {
    font-family: "Dosis", sans-serif;
}
.home {
    color: #{map_get($theme, 'primary')}!important;
}

/** BreakPoints Generics **/
/** XS **/
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
    float: left;
    padding: $spacing;

}


@include media('>=phone', '<tablet') {
    @for $i from 1 through $columns-number {
        .col-xs-#{$i} {
            width: ($col-size * $i);
        }
    }

}



/** SM **/

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {

    float: left;
    padding: $spacing;

}

@include media('>=tablet', '<medium') {
    @for $i from 1 through $columns-number {
        .col-sm-#{$i} {
            width: ($col-size * $i);
        }
    }

}

/** MD **/

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {

    float: left;
    padding: $spacing;

}

@include media('>=medium', '<desktop') {
    @for $i from 1 through $columns-number {
        .col-md-#{$i} {
            width: ($col-size * $i);
        }
    }

}


/** LG **/
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {

    float: left;
    padding: $spacing;

}


@include media('>=desktop') {
    @for $i from 1 through $columns-number {
        .col-lg-#{$i} {
            width: ($col-size * $i);

        }
    }


}
