/** Estilos de los componentes **/
@import "~include-media/dist/include-media";


/**
 ** Navbar Component
 **/
nav {
    overflow: hidden;

    #responsive-navbar {
        display: flex;
        flex-flow: row-reverse;
        justify-content: space-between;
        width: 100%;

        h1 {
            font-family: "Dosis", sans-serif;
            padding-left: 5%;
        }

        .bt-menu {
            font-family: 'IcoMoon-Free', serif !important;
            font-size: 48px;
            font-weight: bold;
            padding: 10px;
            text-decoration: none;
            color: #333;
        }

        span {

        }
    }


    @include media('>phone', '<=tablet') {

        #ulResponsive {
            display: flex;
            flex-flow: column;
            list-style: none;

            li {
                background-color: transparent;
                padding: 10px 60px;
            }

            .active {
                font-weight: bold;
                color: red;
            }
        }
        ul {
            display: none;

        }

    }

    @include media('>tablet') {
        #ulResponsive {
            display: none;

        }
        #responsive-navbar {
            display: none;
        }
        ul {
            list-style: none;
            padding: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;

            li {
                padding: 10px;
                font-size: xx-large;

                a {
                    font-weight: bold;
                    text-decoration: none;
                }

                .active {
                    font-weight: bold;
                    color: red;
                }
            }


        }

    }
    @include media('>=980px') {
        #ulResponsive {
            display: none;

        }
        #responsive-navbar {
            display: none;
        }
        ul {
            list-style: none;
            padding: 0;

            li {
                display: inline;
                padding: 10px;
            }

            .active {
                font-weight: bold;
                color: red;
            }

        }

    }
    @include media('>desktop') {
        #ulResponsive {
            display: none

        }
        #responsive-navbar {
            display: none;

        }
        ul {
            list-style: none;
            padding: 0;

            li {
                display: inline;
                padding: 10px;
            }

            .active {
                font-weight: bold;
                color: red;
            }
        }

    }
}


/**
 ** Container Component
 **/
.container {
    max-width: $size-max-container;
    margin: 0 auto;

    /**
     ** Row Component
     **/
    .row {
        &:after {
            content: "";
            clear: both;
            display: block;
        }
    }
}

/**
 ** Componente para hacer fluidas las imágenes
 */
.fluid-img {
    width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}

.no-prototype {
    font-family: "Dosis", sans-serif;
}

.home {
    color: darkorange !important;
}

.full-screen {
    width: 100%;
}

.hide-screen {
    width: 0%;
}

.container-title-site {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .title-site {
        font-family: "Dosis", sans-serif;
    }
}
.icon-moon{
    font-family: 'IcoMoon-Free', serif;
    font-size: 36px;
    padding-right: 10px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.2s;

    a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: snow;
        display: block;
        transition: 0.3s;
    }

    .closebtn {
        position: absolute;
        top: 20px;
        right: 45px;
        font-size: 60px;
    }


}

.overlay-content {
    position: relative;
    top: 7%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}


/** BreakPoints Generics **/
/** XS **/
.col-xs-1,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9,
.col-xs-10,
.col-xs-11,
.col-xs-12 {
    float: left;
    padding: $spacing;

}


@include media('>=phone', '<tablet') {
    @for $i from 1 through $columns-number {
        .col-xs-#{$i} {
            width: ($col-size * $i);
        }
    }

}


/** SM **/

.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 {

    float: left;
    padding: $spacing;

}

@include media('>=tablet', '<medium') {
    @for $i from 1 through $columns-number {
        .col-sm-#{$i} {
            width: ($col-size * $i);
        }
    }

}

/** MD **/

.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 {

    float: left;
    padding: $spacing;

}

@include media('>=medium', '<desktop') {
    @for $i from 1 through $columns-number {
        .col-md-#{$i} {
            width: ($col-size * $i);
        }
    }

}


/** LG **/
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 {

    float: left;
    padding: $spacing;

}


@include media('>=desktop') {
    @for $i from 1 through $columns-number {
        .col-lg-#{$i} {
            width: ($col-size * $i);

        }
    }


}
