main{
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
/**
 ** Estilos a el elemento <p>
 */
p {
    font-size: large;
}

/**
 ** Estilos a el elemento <nav>
 */
nav {
    a {
        font-family: "Dosis", sans-serif;
        font-size: large;
    }
}
